/**
 * General styles
 */

body {
	margin: 0;
	padding: 0;
	font-size: 2.8rem;
}

//#app {
form {
	width: 90%;
	margin: 24px auto 0 auto;
//	border: 4px solid #666;
//	font-family: sans-serif;
	font-size: 3rem;
}

.Input {
	margin: 24px;
	font-size: 3rem;
}

form > div > div > div {
  padding: 0px;
  border: none;
}

.h2 {
	font-size: 4rem;
}

.h2 {
	font-size: 4rem;
}
